<?xml version='1.0' encoding='utf-8'?>
<widget
  xmlns       = "http://www.w3.org/ns/widgets"
  xmlns:gap   = "http://phonegap.com/ns/1.0"
  id          = "com.shop-mobilizer.cyfrovychok.ua.ncm"
  version     = "16.03.24"
  versionCode = "160324"
>
  <name>NCM Цифровичок</name>
  <author
    href="http://shop-mobilizer.com"
    email="info@shop-mobilizer.com">Shop-Mobilizer.com
  </author>
  <description>cyfrovychok.ua.ncm for android</description>
  <preference name="phonegap-version" value="cli-5.2.0"/>
  <preference name="fullscreen" value="true"/>
  <preference name="permissions" value="none"/>
  <feature    name="http://api.phonegap.com/1.0/file"/>

  <gap:plugin   name="org.apache.cordova.file"          source="npm" spec="1.3.3"/>
  <gap:plugin   name="org.apache.cordova.globalization" source="npm" spec="0.3.4"/>
  <gap:plugin   name="org.apache.cordova.inappbrowser"  source="npm" spec="0.6.0"/>
  <gap:plugin   name="cordova-plugin-x-socialsharing"   source="npm" spec="5.0.11"/>
  <gap:plugin   name="phonegap-plugin-push"             source="npm" spec="1.2.3"/>
  <gap:plugin   name="cordova-plugin-whitelist"         source="npm"/>
  <access       origin="*" launch-external="yes"/>
  <preference   name="android-build-tool" value="gradle"/>
  <icon         src="icon.png" gap:platform="android" gap:qualifier="hdpi"/>
  <gap:splash   src="logo.png" gap:platform="android"/>
  <gap:platform name="android"/>
</widget>